{% from 'macros.html' import form_item_with_errors %}
{% extends "layout.html" %} 

{% block content%}
<div class="form-group">
  <div class="profile">
    <img class="profile-img" src="{{image_file}}" />
    <div class="profile-info">
      <h2 class="profile-username">{{current_user.username.title()}}</h2>
      <p class="profile-email">{{current_user.email}}</p>
    </div>
  </div>
  <h1 class="form-title">Account Info</h1>
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <!-- Username Field -->
    {{ form_item_with_errors(form.username) }}
    <!-- Email Field -->
    {{ form_item_with_errors(form.email) }}
    <!-- Image Field -->
    <div class="img-form">
      {{form.image.label}} {{form.image(class='form-img')}} 
      {% if form.image.errors %} {% for error in form.image.errors %}
      <span class="form-img-error">{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <!-- Form Button -->
    {{form.submit(class='btn btn-signup')}}
  </form>
</div>
{% endblock content %}
