{% from 'macros.html' import form_item_with_errors %}
{% extends 'layout.html' %} {% block content%}
<div class="">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <!-- Form Title -->
    <div class="form-group">
      <h1 class="form-title">Login</h1>
      <!-- Form Email -->
      {{ form_item_with_errors(form.email) }}
      <!-- Form Password -->
      {{ form_item_with_errors(form.password) }}
      <div class="form-checkbox">
        {{ form.remember() }} {{ form.remember.label() }}
      </div>
      <!-- Submit Button -->
      {{form.submit(class='btn btn-signup')}}
      <!-- Password remember tag -->
      <a href="#" class="fgt-password">
        <p>Forgot Password?</p>
      </a>
    </div>
    <div class="submit-area">
      <p class="alr-btn">
        Do you need an Account? <a href="{{url_for('register')}}">Sign Up</a>
      </p>
    </div>
  </form>
</div>
{% endblock content %}
