{% from 'macros.html' import form_item_with_errors %}
{% extends 'layout.html' %} {% block content%}
<div>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <!-- Form Title -->
    <div class="form-group">
      <h1 class="form-title">Join Today</h1>
      <!-- Username Form -->
      {{ form_item_with_errors(form.username) }}
      <!-- Email Form -->
      {{ form_item_with_errors(form.email) }}
      <!-- Password Form -->
      {{ form_item_with_errors(form.password) }}
      <!-- Confirm Password Form -->
      {{ form_item_with_errors(form.confirm) }}
      <!-- Form Button -->
      {{form.submit(class='btn btn-signup')}}
    </div>
    <div class="submit-area">
      <p class="alr-btn">
        Already Have An Account? <a href="{{url_for('login')}}">Sign In</a>
      </p>
    </div>
  </form>
</div>

{% endblock content %}
