* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8fafc;
}

a {
  text-decoration: none;
}

.navbar {
  height: 72px;
  background-color: #3f414b;
  min-width: 420px;
}

.container {
  max-width: 1120px;
  margin: auto;
  padding: 20px 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.blog-name {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-link {
  text-decoration: none;
  color: #ccc6c6;
  padding-left: 20px;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: black;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.username {
  color: #fff;
  margin-right: 16px;
}

.btn-login {
  margin-right: 10px;
  background-color: #0a82d8;
  color: white;
}

.btn-login:hover {
  background-color: #2b97e4;
}

.btn-register {
  background-color: #900ad8;
  color: white;
}

.btn-register:hover {
  background-color: #ad22f8;
}

.content-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 300px;
  margin-top: 2rem;
}

.sidebar-card {
  background-color: white;
  height: 350px;
  padding: 30px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.sidebar-title {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.sidebar-info {
  font-size: 0.9rem;
  max-width: 250px;
  margin-bottom: 8px;
  color: rgb(117, 117, 117);
}

.sidebar-list {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  padding-left: 5px;
}

.blog-post {
  background-color: #fff;
  padding: 20px 20px;
  box-shadow: 0px 0px 1px 0px black;
  margin-bottom: 20px;
}

.blog-top {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-items: center;
}

.author-name {
  color: #0524f2;
  font-size: 15px;
}

.line-sep {
  margin-top: 5px;
  width: auto;
  height: 1px;
  background-color: black;
}

.date-posted {
  font-size: 13px;
  color: #6c757d;
}

.blog-content {
  margin-top: 6px;
}

.blog-content h4 {
  margin-top: 12px;
  font-size: 1.5rem;
  color: #000000;
}

.blog-content p {
  font-size: 0.9rem;
  line-height: 2rem;
  color: #2c3e50;
  padding: 10px 0px;
}

.form-group {
  background-color: #fff;
  padding: 30px 15px;
  border-radius: 0.25rem;
  border: 0.2px solid rgba(0, 0, 0, 0.3);
}

.form-title {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.form-input {
  padding: 10px;
  border-radius: 0.3rem;
  border-width: 1px;
}

.single-form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 1rem;
}

.submit-area {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.alr-btn {
  font-size: 13px;
  color: #6c757d;
}

.alr-btn a {
  text-decoration: none;
  color: #0592f7;
  padding-left: 5px;
}

.alr-btn a:hover {
  text-decoration: underline;
}

.btn-signup {
  margin-top: 12px;
  box-shadow: none;
  color: #fff;
  background: #0592f7;
  border: 1px solid #0592f7;
  margin-bottom: 10px;
}

.btn-signup:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #2b97e4;
}

.alert-success {
  font-size: 0.9rem;
  border-radius: 0.5rem;
  padding: 15px;
  background-color: #5ff2b7;
  color: #262424;
  margin-bottom: 2rem;
  font-weight: 300;
}

.alert-danger {
  font-size: 0.9rem;
  border-radius: 0.5rem;
  padding: 15px;
  background-color: #feadad;
  color: #262424;
  margin-bottom: 2rem;
  font-weight: 300;
}

.alert-retry {
  font-size: 0.9rem;
  border-radius: 0.5rem;
  padding: 15px;
  background-color: #bfebfe;
  color: #262424;
  margin-bottom: 2rem;
  font-weight: 300;
}

.form-error {
  border-color: rgb(236, 16, 16);
}

.invalid-feedback {
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(217, 33, 33);
}

.form-checkbox {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.fgt-password {
  text-decoration: none;
  font-size: 0.8rem;
  color: #2b97e4;
}

.account {
  margin-right: 16px;
  color: #ffffff;
}

.account:hover {
  color: #f8fafc;
}

.profile {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
  padding-top: 12px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
}
.profile-username {
  font-size: 1.7rem;
  letter-spacing: 0.5px;
}

.profile-email {
  font-size: 0.9rem;
  color: #6c757d;
}

.form-img-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 6px;
}

.img-form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}

.form-img {
  margin-bottom: 0.75rem;
}

.nav-link-m {
  margin-right: 1.25rem;
}

.form-input {
  font-family: sans-serif;
}
